
/*===================== BANNER STYLING ============================ */

body {
margin: 0;
padding: 0;
}
header {
  color: white;
  width: 100%;
  padding: 12px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg, #048cfb, #c096a0, #4b93e6, #0c9fda, #5eac98, #71d1e2, #f3c683);
}

.marquee {
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.marquee div {
  padding: 20px;
  font-size: 6rem;
  font-family:"Cookie", san-serif;
  font-weight: 400px;
  animation: animate 10s linear infinite;
  padding-left: 100%;
  display: inline-block;
  text-shadow: 10px 5px 10px #132022;
}

@keyframes animate {
  100% {
    transform: translate(-100%, 0);
  }
}
 
 /*======================= MAIN BODY AND IMAGES STYLING ==================== */

main {
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Andika';
  line-height: 2.7vw;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#salmon {
  margin-top: 3rem;
}

#welcomeMsg {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2.3rem;
}
#family {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
#family img {
  margin: 2rem;
  border: 3px solid #f16006;
  border-radius: 50%;
}
p {
  margin: 1rem;
  font-size: 1.5rem;
}
#hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 10px 5px 10px #132022;
}
#hours h2 {
  font-size: 2.5rem;
  color:#00ff00;
}
#hours h3 {
  font-size: 1.8rem;
  width: 50%;
  text-align: center;
  color:#00ff00; 
  padding-bottom: 30px;
  line-height: 2.5rem;
}

/* ============= IMAGES WITH LOCATION ============ */

.location {
  position: relative;
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border: 4px solid #f16006;
  border-radius: 20px;
  margin:auto;
  background-color:#5eac98;
  margin-top: 20px;
}

.location img {
  margin: 1rem;
  border: 0.22rem solid #f16006;
  border-radius: 50%;
  display: flex; 
  flex-direction:row;
  align-items: center;
 
}
.location h3 {
  display: flex;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 0.5rem;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.location h2 {
  font-size: 2rem;
  line-height: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#info {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#contact h3 {
  text-align: center;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  line-height: 2.3rem;
}
footer {
  margin-top: 30px;
  display: flex;
  padding: 20px;
  text-align: center;
  color: #fff;
  width: 100%;
  justify-content: center;
  background-color: #19566e;
}
