body {
  margin: 0;
  padding: 0;
  background-color: #630dd0;
  background: linear-gradient(45deg, #79d1f7, #107dac, #257ca1, #0077ff, #169bb3, #71c7ec);
  height: 1155px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a {
  text-decoration:none;
  color: white;
  font-size: 3em;
  font-weight: 250px;
  padding: 20px;
  text-shadow: 10px 5px 10px #1c243b;
  font-family: "Andika";
}

a:hover {
  cursor: pointer;
  color: rgb(145, 65, 202);
}
